.grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 5px;
  height: 90vh;
  
  }
  
  .navbar-brand{
    font-family: 'Rock Salt', cursive; 
  }

 .title{
  margin: 5rem 5%;
 } 
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;

  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    grid-auto-rows: auto;
    height: 70vh;
    margin: 5%;
  }
  .one {
    grid-column: 1;
    grid-row: 1;
    
  }
  .two {
    grid-column: 2;
    grid-row: 1;
    
  }
  .three {
    grid-column: 3;
    grid-row: 1;
  }
  .four {
    grid-column: 1;
    grid-row: 2;
  }
  .five {
    grid-column: 2;
    grid-row: 2;
  }
  .six {
    grid-column: 3;
    grid-row: 2;
  }

   
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  
  .feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .50rem;
  }
  
  .icon-link {
    display: inline-flex;
    align-items: center;
  }
  .icon-link > .bi {
    margin-top: .125rem;
    margin-left: .125rem;
    transition: transform .25s ease-in-out;
    
  }
    

  .icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;
      
  }
  
  li{
    font-family: 'Courier New', Courier, monospace;
  
  }
  
  